.section__container {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include mq(desk) {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 100px;
    padding-bottom: 90px;
  }
}
