ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

.list {
  list-style-type: none;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}
