<section class="section">
  <div class="section__container">
    <div class="product__container">
      <div>
        <h1 class="section__title">Desserts</h1>
        <ul class="product-list">
          <li class="product-list__item">
            <img
              class="product-list__image"
              srcset="
                ./assets/images/desk/image-waffle-desktop.jpg  250w,
                ./assets/images/mobile/image-waffle-mobile.jpg 325w
              "
              sizes="
                (min-width: 1440px) 250px,
                100vw"
              src="./assets/images/mobile/image-waffle-mobile.jpg"
              alt="Waffle with Berries"
              width="250"
              height="210"
            />

            <p class="product-list__category">Waffle</p>
            <p class="product-list__name">Waffle with Berries</p>
            <p class="product-list__price">$6.50</p>
          </li>
        </ul>
      </div>
      <div class="cart__container">
        <p class="cart__title">Your Cart (0)</p>
        <!-- <div class="cart__container--empty">
          <svg width="120" height="120" class="cart__image">
            <use href="../assets/images/sprite.svg#icon-illustration-empty-cart"></use>
          </svg>
          <p class="cart__text">Your added items will appear here</p>
        </div> -->
        <ul class="cart__list">
          <li>
            <p>Waffle with Berries</p>
            <div style="display: flex">
              <p>1x</p>
              <p>@$6.5</p>
              <p>$6.5</p>
            </div>
            <button>X</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- <svg width="18" height="18">
  <use href="../assets/images/sprite.svg#icon-icon-add-to-cart"></use>
</svg>
Add to Cart -->
