<section class="section">
  <div class="section__container">
    <div class="product__container">
      <div>
        <h1 class="section__title">Desserts</h1>
        <ul class="product-list"></ul>
      </div>
      <div class="cart__container">
        <p class="cart__title">Your Cart (0)</p>
        <div class="cart__container--empty">
          <svg width="120" height="120" class="cart__image">
            <use href="../assets/images/sprite.svg#icon-illustration-empty-cart"></use>
          </svg>
          <p class="cart__text">Your added items will appear here</p>
        </div>
        <ul class="cart__list"></ul>
        <div class="cart__total-price"></div>
      </div>
    </div>
  </div>
</section>
