<section class="section">
  <div class="section__container">
    <h1 class="section__title">Desserts</h1>
    <ul class="product-list">
      <!-- <li class="product-list__item">
        <img
          class="product-list__image"
          src="./assets/images/mobile/image-waffle-mobile.jpg"
          alt="Waffle with Berries"
        />
        <button class="product-list__button">
          <svg width="18" height="18">
            <use href="../assets/images/sprite.svg#icon-icon-add-to-cart"></use>
          </svg>
          Add to Cart
        </button>
        <p class="product-list__category">Waffle</p>
        <p class="product-list__name">Waffle with Berries</p>
        <p class="product-list__price">$6.50</p>
      </li> -->
    </ul>
  </div>
</section>
