.section__title {
  padding-top: 30px;
  padding-bottom: 40px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

// .product-list__container {
// }
// .product-list__item {
//   border-radius: 10px;
//   overflow: hidden;
// }
.product-list__image {
  border-radius: 10px;
  margin-bottom: 40px;
}
.product-list__button {
  position: relative;
  z-index: 100;
  margin-top: -60px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  @include centered-flex();
  gap: 10px;
  height: 40px;
  width: 160px;
  @include fonts(12, 600);
  border-radius: 30px;
  border: 1px solid var(--rose-900);
  background-color: var(--rose-50);
}
.product-list__category {
  @include fonts(12, 400);
  font-size: 12px;
  color: var(--rose-300);
  margin-bottom: 14px;
}
.product-list__name {
  @include fonts(13, 600);
  color: var(--rose-900);
  margin-bottom: 14px;
}
.product-list__price {
  @include fonts(18, 600);
  color: var(--red);
}
