.section__title {
  padding-top: 30px;
  padding-bottom: 40px;
}
// .product-list {
// }
// .product-list__item {
//   border-radius: 10px;
//   overflow: hidden;
// }
.product-list__image {
  border-radius: 10px;
}
.product-list__button {
  height: 40px;
  width: 160px;
  border-radius: 30px;
  border: 1px solid var(--rose-900);
}
// .product-list__category {
// }
// .product-list__name {
// }
// .product-list__price {
// }
